@font-face {
  font-family: 'Inter';
  src: url('./assets/Inter.ttf');
}
@font-face {
  font-family: 'Prata';
  src: url('./assets/Prata.ttf');
}
@font-face {
  font-family: 'RobotoCondensed';
  src: url('./assets/RobotoCondensed.ttf');
}
.header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  margin-left: 15px;
  margin-right: 15px;
}
.geo_container {
  display: flex;
}
.geo {
  background-image: url('./assets/geo.png');
  width: 16px;
  height: 16px;
  margin-right: 10px;
  margin-left: 9px;
}
.geo:hover {
  cursor: pointer;
  background-image: url('./assets/geo_hover.png');
  width: 12px;
  height: 16px;
  margin-right: 12px;
  margin-left: 11px;
}
.spb {
  cursor: pointer;
  margin-top: -1px;
  width: 170px;
  height: 20px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 14px;
  outline: none;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
option:checked {
  background-color: #FAFAFA;
}
.rectangle {
  cursor: pointer;
  display: flex;
  margin-left: -36px;
  margin-top: 8px;
  width: 9px;
  height: 6px;
}
.transition_arrow {
  transition: all ease 0.4s;
}
.phone_container {
  display: flex;
}
.phone {
  background-image: url('./assets/phone.png');
  width: 15.97px;
  height: 16px;
  margin-right: 10px;
  margin-left: 60px;
}
.phone:hover {
  cursor: pointer;
  background-image: url('./assets/phone_hover.png');
  width: 15.97px;
  height: 16px;
  margin-right: 10px;
  margin-left: 60px;
}
.number {
  margin-top: 2px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 14px;
  margin-right: 194px;
}
.jewelry_container {
  margin-top: -24px;
}
.name {
  margin-top: 12px;
  font-family: 'Prata';
  font-size: 32px;
  line-height: 32px;
  color: #E1A661;
}
.black {
  color: #303030;
}
.jewelry {
  font-family: 'RobotoCondensed';
  font-size: 14px;
  line-height: 14px;
  color: #909090;
  letter-spacing: 3.7px;
  margin-top: -24px;
}
.entry_reg_container {
  display: flex;
}
.entry {
  color: #303030;
  cursor: pointer;
  text-decoration: none;
  margin-left: 229px;
  margin-top: 2px;
  font-family: 'Inter';
  font-size: 14px;
  line-height: 14px;
}
.entry:hover {
  color: #303030;
  opacity: 0.5;
}
.reg {
  color: #303030;
  cursor: pointer;
  text-decoration: none;
  font-family: 'Inter';
  margin-top: 3px;
  font-size: 14px;
  line-height: 14px;
  margin-right: 71px;
}
.reg:hover {
  color: #303030;
  opacity: 0.5;
}
.favorite_container {
  display: flex;
}
.favorite {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
.elipse {
  cursor: pointer;
  width: 19px;
  height: 19px;
  margin-left: -6px;
  margin-top: -7px;
  margin-right: 10px;
}
.chart {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 19px;
}
.bag {
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 13px;
}
.nav {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  height: 62px;
  background-color: #F8F8F8;
  margin-left: 10px;
  margin-right: 10px;
}
.items {
  cursor: pointer;
  font-size: 13px;
  text-decoration: none;
  color: #303030;
  width: 1300px;
  height: 62px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  padding: 25px;
}
.items:hover {
  color: #303030;
  opacity: 0.5;
}
.inp_container {
  display: flex;
}
.inp {
  font-weight: 400;
  font-size: 14px;
  margin-right: 20px;
  line-height: 100%;
  background-color: #F8F8F8;
  font-family: 'Inter';
  background-color: none;
  border: none;
  outline:none;
}
.union {
  margin-top: 24px;
  cursor: pointer;
  width: 15.27px;
  height: 16px;
  margin-right: 10px;
}
.del_pay {
  margin-left: -40px;
}
.main {
  width: 1312px;
  height: 560px;
  background-color: #F8F8F8;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  overflow: hidden;
}
.pngegg {
  background-image: url('./assets/pngegg.png');
  width: 548px;
  height: 548px;
  margin-left: 750px;
}
.diamond {
  margin-top: -337px;
  width: 832.77px;
  height: 642.52px;
  margin-left: -124px;
  background-size: cover;
}
.arrows_container {
  display: flex;
  justify-content: space-between;
  margin-top: -395px;
  margin-left: 24px;
  margin-right: 24px;
}
.arrow1 {
  cursor: pointer;
  box-sizing: border-box;
  width: 54px;
  height: 54px;
}
.arrow1_pressed {
  background-image: url('./assets/arrow_pressed_left.png');
  cursor: pointer;
  box-sizing: border-box;
  width: 54px;
  height: 54px;
  z-index: 1;
}
.arrow2 {
  cursor: pointer;
}
.arrow2_pressed {
  background-image: url('./assets/arrow_pressed_right.png');
  cursor: pointer;
}
.arrow1:hover {
  background-image: url('./assets/arrow_hover_left.png');
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.arrow2:hover {
  background-image: url('./assets/arrow_hover_right.png');
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.salesAndBtn {
  margin-top: -400px;
  margin-left: 126px;
}
.sales {
  position: relative;
  width: 208px;
  height: 20px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #303030;
}
.diamonds {
  position: relative;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 100%;
  color: #303030;
}
.info_btn {
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 54px;
  background: #303030;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}
.info_btn_pessed {
  cursor: pointer;
  position: absolute;
  width: 200px;
  height: 54px;
  background: #000000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 5px;
  border: none;
}
.info_btn:hover {
  background-color: #505050;
  color: #FFFFFF;
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.categories {
  position: absolute;
  margin-left: 10px;
  top: 861px;
  width: 477px;
  height: 40px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
}
.objects_container {
  display: flex;
  justify-content: space-between;
  margin-top: 200px;
}
.object {
  max-height: 259px;
  max-width: 200px;
  background-color: #F8F8F8;
  padding: 35px;
  margin: 10px;
}
.rings {
  margin-top: 61px;
  padding: 1px;
}
.earrings {
  margin-top: 46px;
  padding: 5px
}
.rings2 {
  margin-top: 64px;
  margin-left: 15px;
}
.bracelets {
  margin-top: 52px;
}
.necklace { 
  margin-top: 47px;
  padding: 5px
}
.watch {
  margin-top: 37px;
  padding: 5px
}
.rings_txt {
  display: flex;
  padding: 25%;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}
.earrings_txt {
  display: flex;
  padding: 25%;
  margin-top: -3px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}
.rings2_txt {
  display: flex;
  margin-top: 54px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}
.bracelets_txt {
  margin-top: 41px;
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}
.necklace_txt {
  display: flex;
  margin-top: 26px;
  text-align: center;
  font-family: 'Inter';
  white-space: nowrap;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}
.watch_txt {
  text-align: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}
.headlines {
  margin-top: 120px;
  width: 247px;
  height: 40px;
  margin-left: 10px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  color: #303030;
}
.btn_container {
  display: flex;
  margin-top: -24px;
}
.btn {
  cursor: pointer;
  margin: 10px;
  padding: 13px 30px;
  width: 110px;
  height: 40px;
  background: #F0F0F0;
  border-radius: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
  border: none;
}
.active {
  cursor: pointer;
  margin: 10px;
  padding: 13px 30px;
  width: 110px;
  height: 40px;
  background: #303030;
  border-radius: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #FFFFFF;
  border: none;
}
.brs {
  margin-left: -9px;
}
.btn:hover {
  background: #DDDDDD;
  color: #303030;
  transition: all ease 0.3s;
}
.arrows_container_two {
  display: flex;
  justify-content: flex-end;
  margin-top: -62px;
  margin-right: 14px;
}
.arrow3 {
  cursor: pointer;
  margin-right: 10px;
}
.arrow3_pressed {
  cursor: pointer;
  margin-right: 10px;
  background-image: url('./assets/arrow_pressed_left.png');
}
.arrow3:hover {
  cursor: pointer;
  background-image: url('./assets/arrow_hover_left.png');
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.rings_sales {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.frame {
  width: 310px;
  height: 475px;
  border: 1px solid #F0F0F0;
}
.btn_sale {
  cursor: pointer;
  margin: 16px;
  width: 50px;
  height: 21px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
  background: #5B8A8F;
  border-radius: 15px;
  border: none;
}
.likeEyes_container {
  display: flex;
  flex-direction: column;
  margin-left: 268px;
  margin-top: -32px;
}
.like {
  background-image: url('./assets/like.png');
  cursor: pointer;
  width: 20px;
  height: 18px;
}
.like_pressed {
  background-image: url('./assets/like_pressed.png');
  cursor: pointer;
  width: 20px;
  height: 18px;
}
.like:hover {
  background-image: url('./assets/like_hover.png');
  cursor: pointer;
  width: 20px;
  height: 18px;
}
.eyes {
  background-image: url('./assets/eyes.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15px;
  width: 24px;
  height: 24px;
}
.eyes:hover {
  background-image: url('./assets/eyes_hover.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15px;
  width: 24px;
  height: 24px;
}
.likeEyes_container_frame2 {
  display: flex;
  flex-direction: column;
  margin-left: 268px;
  margin-top: 5px;
}
.like_frame2 {
  background-image: url('./assets/like.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.like_frame2_pressed {
  background-image: url('./assets/like_pressed.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.like_frame2:hover {
  background-image: url('./assets/like_hover.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.eyes_frame2 {
  background-image: url('./assets/eyes.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15.5px;
  width: 24px;
  height: 24px;
}
.eyes_frame2:hover {
  background-image: url('./assets/eyes_hover.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15.5px;
  width: 24px;
  height: 24px;
}
.likeEyes_container_frame3 {
  display: flex;
  flex-direction: column;
  margin-left: 268px;
  margin-top: 5px;
}
.like_frame3 {
  background-image: url('./assets/like.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.like_frame3_pressed {
  background-image: url('./assets/like_pressed.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.like_frame3:hover {
  background-image: url('./assets/like_hover.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.eyes_frame3 {
  background-image: url('./assets/eyes.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15.5px;
  width: 24px;
  height: 24px;
}
.eyes_frame3:hover {
  background-image: url('./assets/eyes_hover.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15.5px;
  width: 24px;
  height: 24px;
}
.likeEyes_container_frame4 {
  display: flex;
  flex-direction: column;
  margin-left: 268px;
  margin-top: 5px;
}
.like_frame4 {
  background-image: url('./assets/like.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.like_frame4_pressed {
  background-image: url('./assets/like_pressed.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.like_frame4:hover {
  background-image: url('./assets/like_hover.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-top: 15.5px;
  width: 20px;
  height: 18px;
}
.eyes_frame4 {
  background-image: url('./assets/eyes.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15.5px;
  width: 24px;
  height: 24px;
}
.eyes_frame4:hover {
  background-image: url('./assets/eyes_hover.png');
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-left: -2px;
  margin-top: 15.5px;
  width: 24px;
  height: 24px;
}
.rings_sale {
  cursor: pointer;
  margin-left: 55px;
  margin-top: -30px;
}
.inp_radio {
  margin-top: -20px;
  display: flex;
  justify-content: center;
}
.radio {
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin: 5px;
  color: #303030;
}
.sales_first_frame {
  display: flex;
}
.sale_num_s {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8F8F8F;
  margin-left: 10px;
  margin-top: 21px;
}
.orange_sale_btn {
  margin-left: 72px;
  margin-top: 17px;
  width: 50px;
  height: 21px;
  background: #E24B33;
  border-radius: 15px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
}
.sale_num {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  color: #303030;
  margin-left: 16px;
}
.info_ring {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: #303030;
  margin-left: 16px;
  margin-top: -20px;
}
.img_sales3 {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-left: 10px;
  margin-right: 10px;
}
.img_cursor {
  cursor: pointer;
}
.btn_sect3 {
  margin-top: 60px;
  margin-left: 26px;
}
.btn_new {
  border: none;
  width: 50px;
  height: 21px;
  background: #495159;
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
}
.btn_hit {
  border: none;
  width: 50px;
  height: 21px;
  background: #E1A661;
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
}
.btn_sale2 {
  border: none;
  width: 50px;
  height: 21px;
  background: #5B8A8F;
  border-radius: 15px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
}
.imgs_sect3 {
  display: flex;
}
.ring5 {
  background-image: url('./assets/ring5.png');
  width: 550px;
  height: 550px;
}
.arrows_sect3 {
  display: flex;
  justify-content: space-between;
  margin-top: 250px;
  margin-left: 26px;
}
.Rectangle152_left {
  cursor: pointer;
  width: 10px;
  height: 16px;
  transform: rotate(180deg);
}
.Rectangle152_rigth {
  cursor: pointer;
  width: 10px;
  height: 16px;
}
.imgs_sect3-2 {
  display: flex;
  margin-left: 120px;
  margin-top: -30px;
}
.stars {
  width: 109px;
  height: 17px;
}
.numst {
  margin-top: 2px;
  margin-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
.headlines_sect3 {
  margin-top: 10px;
  margin-left: -140px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #303030;
}
.arrows_container_sect3 {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-top: -85px;
}
.arrow4 {
  cursor: pointer;
  box-sizing: border-box;
  width: 54px;
  height: 54px;
  margin-right: 10px;
}
.arrow5 {
  cursor: pointer;
  box-sizing: border-box;
  width: 54px;
  height: 54px;
}
.arrow4:hover {
  background-image: url('./assets/arrow_hover_left.png');
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.arrow5:hover {
  background-image: url('./assets/arrow_hover_right.png');
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.artikul {
  margin-left: -140px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8F8F8F;
}
.sale_num_sect3 {
  margin-left: -140px;
  margin-top: 36px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #303030;
}
.sale_num_s_sect3 {
  margin-top: -37px;
  margin-left: -35px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-decoration-line: line-through;
  color: #8F8F8F;
}
.orange_sale_btn_sect3 {
  display: flex;
  padding: 4px;
  padding-left: 7.5px;
  text-align: center;
  margin-left: 52px;
  margin-top: -39px;
  width: 50px;
  height: 21px;
  background: #E24B33;
  border-radius: 15px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  color: #FFFFFF;
}
.time {
  display: flex;
  margin-top: -52.5px;
  margin-left: 120px;
  width: 224px;
  height: 64px;
  background: #F5F5F5;
}
.time_section {
  display: flex;
  justify-content: space-between;
  margin-top: 11px;
  width: 52px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
}
.span_sect3 {
  margin-top: 5px;
  margin-left: 13px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #303030;
}
.p_hours {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: -6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  color: #303030;
}
.p_minutes {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: -5px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  color: #303030;
}
.p_seconds {
  margin-top: 2px;
  margin-bottom: 5px;
  margin-left: -9px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 11px;
  line-height: 100%;
  color: #303030;
}
.dots {
  margin-top: 22px;
  margin-left: 3px;
  width: 2px;
  height: 2px;
  font-weight: bold;
}
.line {
  margin-left: -143px;
  margin-top: 20px;
}
.color {
  margin-top: 30px;
  margin-left: -140px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
}
.colors_container {
  cursor: pointer;
  margin-left: -145px;
  margin-top: 16px;
}
.size {
  margin-top: 30px;
  margin-left: -140px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
}
.question {
  background-image: url('./assets/question.png');
  display: flex;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-left: -83px;
  margin-top: -28px;
}
.question:hover {
  background-image: url('./assets/question_hover.png');
  display: flex;
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin-left: -83px;
  margin-top: -28px;
}
.size_box {
  display: flex;
  justify-content: space-between;
  margin-left: -140px;
  margin-top: 20px;
  margin-right: 10px;
}
.box {
  cursor: pointer;
  padding: 7px;
  box-sizing: border-box;
  width: 50px;
  height: 32px;
  border: 2px solid #DADADA;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color:#303030;
}
.boxact {
  cursor: pointer;
  padding-top: 9px;
  width: 50px;
  max-height: 32px;
  border: none;
  background-color: #303030;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.box:hover {
  padding: 8px;
  width: 50px;
  height: 32px;
  border: 1px solid #303030;
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
}
.boxact:hover {
  color: #E1A661;
}
.buttons_symbals {
  margin-top: 49px;
}
.btns_section3 {
  display: flex;
  flex-direction: column;
}
.basket {
  cursor: pointer;
  margin-left: -140px;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 56px;
  background: #303030;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.basket_pressed {
  cursor: pointer;
  margin-left: -140px;
  border: none;
  border-radius: 5px;
  width: 400px;
  height: 56px;
  background: #000000;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
.one_click {
  cursor: pointer;
  margin-left: -140px;
  margin-top: 10px;
  border-radius: 5px;
  width: 400px;
  height: 56px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #303030;
  background-color: #FFFFFF;
  border: 1px solid #303030;
}
.one_click_pressed {
  cursor: pointer;
  color: #FFFFFF;
  margin-left: -140px;
  margin-top: 10px;
  border-radius: 5px;
  width: 400px;
  height: 56px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  background-color: #000000;
  border: 1px solid #000000;
}
.basket:hover {
  background-color: #505050;
  color: #FFFFFF;
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.one_click:hover {
  color: #FFFFFF;
  background: #303030;
  transition: all ease 0.4s;
  transform: scale(1.07);
}
.icons_sect3 {
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  margin-top: -120px;
}
.like_sect3 {
  background-image: url('./assets/like.png');
  cursor: pointer;
  width: 20px;
  height: 18px;
  margin-bottom: 16px;
}
.like_sect3_pressed {
  background-image: url('./assets/like_pressed.png');
  cursor: pointer;
  width: 20px;
  height: 18px;
  margin-bottom: 16px;
}
.like_sect3:hover {
  background-image: url('./assets/like_hover.png');
  cursor: pointer;
  width: 20px;
  height: 18px;
  margin-bottom: 16px;
}
.chart_sect3 {
  cursor: pointer;
  margin-left: 5px;
  width: 10px;
  height: 15px;
  margin-bottom: 16px;
}
.share_sect3 {
  cursor: pointer;
  margin-left: 2px;
  width: 15px;
  height: 16.67px;
  margin-bottom: 16px;
}
.like_ic_s3 {
  cursor: pointer;
  margin-left: 35px;
  margin-top: 6px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
.like_ic_s3:hover {
color: #979797;
}
.like_chart_share {
  cursor: pointer;
  margin-left: 35px;
  margin-top: -30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #303030;
}
.like_chart_share:hover {
  color: #979797;
}
.headlines_sect4 {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
}
.read_all {
  cursor: pointer;
  margin-top: 140px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-transform: uppercase;
  color: #303030;
}
.arr_sect4 {
  cursor: pointer;
  border: none;
  font-size: 16px;
}
.read_all:hover {
  cursor: pointer;
  color: #303030;
  opacity: 0.5;
}
.arr_sect4:hover {
  color: #E1A661;
}
.imgs_sect4 {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.date_imgs4 {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}
.date {
  text-align: left;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8F8F8F;
  margin-right: 216px;
}
.date2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8F8F8F;
  margin-right: 216px;
}
.date3 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8F8F8F;
  margin-right: 216px;
}
.date4 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #8F8F8F;
}
.info_article_container {
  display: flex;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -15px;
}
.info_article1 {
  white-space: nowrap;
  margin-right: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #303030;
}
.info_article2 {
  margin-left: 13px;
  white-space: nowrap;
  margin-right: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #303030;
}
.info_article3 {
  margin-left: 28px;
  white-space: nowrap;
  margin-right: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #303030;
}
.info_article4 {
  margin-left: 23px;
  white-space: nowrap;
  margin-right: 40px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #303030;
}
.dropbtn {
  background: #F0F0F0;
  width: 262px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-left: 23px;
  margin-bottom: 10px;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  width: 262px;
  height: 132px;
  position: absolute;
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin-left: 23px;
}
.dropdown-content a {
  color: black;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #FAFAFA;
}
.show {
  display:block;
}
